header {
    border-bottom: 1px solid black;
}
.header {
    display: flex;
    margin: 25px auto;
    width: 1280px;
}
.header__title {
    font-family: "Outfit";
    font-weight: 900;
    font-size: 4rem;
    line-height: 50px;
    color: #1b1b1b;
}
.header__nav {
    display: flex;
    width: 100%;
    margin-left: 40px;
}
.header__nav-list {
    display: flex;
    gap: 24px;
    margin-top: 23px;
    align-items: flex-start;
    padding-bottom: 10px;
}
.header__food-title {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 26px;
    letter-spacing: -0.008em;
    color: #1b1b1b;
    margin-bottom: 8px;
    cursor: pointer;
}
.header__food-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.header__icons {
    display: flex;
    gap: 25px;
    margin-top: 23px;
    margin-left: auto;
    align-items: flex-start;
}
.header__icon-item {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.header__food-item {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: -0.008em;
    cursor: pointer;
}
.header__food-item:hover {
    color: #777;
    text-decoration: underline;
}
.hidden {
    display: none;
}
