.menu-article__label1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 30px;
  border-radius: 999px;
  background-color: #ff8e14;
  font-size: 12px;
  font-weight: 500;
  color: white;
}
.menu-article__label2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 30px;
  border-radius: 999px;
  background-color: #6dd028;
  font-size: 12px;
  font-weight: 500;
  color: white;
}
