.tab-list {
  display: flex;
  margin: 20px 0 20px 40px;
}
.tab-list li {
  margin-right: 30px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.tab-list li.active {
  border-bottom: 1px solid #000;
}
