{
    "arrowParens": "avoid",  
    "bracketSpacing": false,  
    "endOfLine": "auto",  
    "htmlWhitespaceSensitivity": "css",  
    "jsxBracketSameLine": false,  
    "jsxSingleQuote": false, 
    "printWidth": 110, 
    "proseWrap": "preserve",  
    "quoteProps": "as-needed",
    "semi": true,   
    "tabWidth": 2,  
    "trailingComma": "all",  
    "useTabs": false,  
    "vueIndentScriptAndStyle": true,  
    "parser": "", 
    "filepath": "", 
    "requirePragma": false,  
    "insertPragma": false,  
    "overrides": [ 
      {
        "files": "*.json",
        "options": {
          "printWidth": 200
        }
      }
    ]  
  }