@import '../base/variables';

.card {
  width: fit-content;

  &__image-container {
    position: relative;
    margin-bottom: 16px;
  }

  &__image {
    display: block;
    width: 302px;
  }

  &__image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 302px;
    height: 302px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  &__image-badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 142px;
    border: 1px solid $black;
    border-radius: 50%;
    background-color: rgba(248, 248, 248, 0.8);
    margin-left: auto;

    p {
      padding: 8px 0;

      &:first-of-type {
        border-bottom: 1px solid $black;
      }
    }
  }

  &__title {
    color: $grey-1;
    font-weight: $medium-bold;
    letter-spacing: -0.008em;
    margin-bottom: 8px;
  }

  &__description {
    color: $grey-2;
    font-size: $small;
    letter-spacing: -0.008em;
    margin-bottom: 8px;
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
  }

  &__price {
    color: $grey-3;
    font-size: $small;
    letter-spacing: -0.008em;
    text-decoration: line-through;
  }

  &__price-main {
    color: $black;
    font-size: $medium;
    font-weight: $medium-bold;
    letter-spacing: -0.008em;
    text-decoration: none;
  }

  &__badges {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__badge {
    display: block;
    width: 87px;
    height: 30px;
    color: $white;
    font-size: $x-small;
    font-weight: $medium-bold;
    line-height: 1.8rem;
    text-align: center;
    border-radius: 30px;

    &-event {
      background-color: $green;
    }

    &-launch {
      background-color: $orange;
    }
  }
}

.card--large {

  .card__image {
    display: block;
    width: 411px;
  }

  .card__image-background {
    width: 411px;
    height: 411px;
  }
}

.card--small {

  .card__image {
    display: block;
    width: 160px;
    margin-bottom: 8px;
  }

  .card__title {
    color: $grey-1;
    font-size: $small;
    font-weight: $medium;
    letter-spacing: -0.008em;
    margin-bottom: 8px;
  }
}
