@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

* {
  margin: 0;
  font-family: 'Noto Sans KR', serif;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
}

button:focus,
input:focus,
select,
textarea {
  outline: none;
  box-shadow: none;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol {
  padding-left: 0;
  list-style-type: none;
}
