@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import 'icon-fonts.css';

* {
  margin: 0;
  font-family: 'Noto Sans KR', serif;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
}

button:focus,
input:focus,
select,
textarea {
  outline: none;
  box-shadow: none;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol {
  padding-left: 0;
  list-style-type: none;
}

.fonts-xl {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.08em;
}

.fonts-xl-bold {
  font-size: 24px;
  line-height: 38px;
  letter-spacing: -0.08em;
  font-weight: bold;
}

.fonts-lg {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.08em;
}

.fonts-lg-bold {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.08em;
  font-weight: bold;
}

.fonts-md {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.08em;
}

.fonts-md-bold {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.08em;
  font-weight: bold;
}

.fonts-sm {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.08em;
}

.fonts-sm-bold {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.08em;
  font-weight: bold;
}

.fonts-xs {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.04em;
}

.fonts-xs-bold {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.08em;
  font-weight: bold;
}

.fonts-display {
  font-size: 40px;
  line-height: 58px;
  letter-spacing: -0.04em;
  font-weight: bold;
}
