img {
  width: 411px;
  height: 411px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 14px;
  color: #777;
}

.card-badge {
  width: 76px;
  height: 30px;
  background-color: #ffbe14;
  line-height: 30px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
.original-price {
  text-decoration: line-through;
  color: #777;
  font-size: 14px;
  margin-left: 10px;
}
