.menu-article {
  position: relative;
  cursor: pointer;
}

.menu-article:hover {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
}

.menu-article__delivery:hover + .menu-article__figure {
  filter: brightness(85%);
}
