header {
    display: flex;
    padding: 25px;
    border-bottom: 1px solid black;
}

.header__title {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    color: #1b1b1b;
}

.header__nav {
    display: flex;
    width: 100%;
    margin-left: 40px;
}

.header__nav-list {
    display: flex;
    gap: 24px;
    align-items: flex-end;
}

.header__food-title {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.008em;
    color: #1b1b1b;
    margin-bottom: 8px;
}

.header__food-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header__icons {
    display: flex;
    margin-left: auto;
    gap: 25px;
    align-items: center;
}

.header__icon-item {
    width: 24px;
    height: 24px;
}

.header__food-item {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.008em;
}
