header {
  display: flex;
  width: 100%;
  min-height: 83px;
  padding: 16px 80px;
  border-bottom: 1px solid black;

  .logo {
    margin: 8px 40px 0 0;
  }
}

.category-nav {
  display: flex;
  margin-top: 16px;
  gap: 24px;

  &__main {
    font-size: 16px;

    span {
      display: inline-block;
      margin-bottom: 16px;
    }
  }

  &__sub {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.info-container {
  display: flex;
  margin: 16px 0 0 auto;
  gap: 24px;
}
