.modal-content {
  width: 900px;
  height: 570px;
  position: relative;
  background-color: white;
  z-index: 20;
}

.modal-button__close {
  position: absolute;
  z-index: 21;
  top: 30px;
  right: 40px;
}
