.goodsBlock {
     margin-right: 24px;
 }
 
.thumb{
    width: 411px;
    height: 411px;
}

.price {
    display: flex;
}

.discountedPrice, .eventLabel {
    margin-right: 8px;
}

.info {
    margin: 16px 0px;
}

.name, .description, .price {
    margin: 8px 0px;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px; 
    letter-spacing: -0.008em;
}

.description {
    font-weight: 400;
    font-size: 14px;
    color: #777;
    line-height: 24px;
    letter-spacing: -0.008em;
}

.discountedPrice {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.regularPrice {
    font-weight: 400;
    font-size: 14px;
    text-decoration-line: line-through;
    color: #BCBCBC;
    line-height: 26px;
}

 