body{
  overflow-y: scroll;
}

.header {
  width: 100%;
  border-bottom: 1px solid;
}

.innerHeader{
  width: 1280px;
  height: 83px;
  display: flex;
  align-items: baseline;
  margin: 0 auto;
  position: relative;
}

.isOpen {
  height: 191px;
}

.brandHeader {
  margin: 16px 40px 17px 0px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
}

.categoryList {
  display: flex;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  width: 362px;
  position: absolute;
  left: 215px;
  top: 12px;
}

.categoryList:hover {
  cursor: pointer;
}

.mainCategory {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin:16px 24px 0px 0px;
}

.subCategoryList{
  margin-top: 16px;
}

.subCategory {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 8px 0px;
}

.subCategory:hover {
  text-decoration: underline;
  color: #ff8e14;
}

.navBar {
  display: flex;
  justify-content: space-around;
  width: 128px;
  height: 32px;
  margin-left: auto;
}
