.promotion-bar__category {
  padding-bottom: 16px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 30px;
}

.is-clicked {
  border-bottom: 2px solid black;
}
