.subtitle-wrapper {
  display: flex;
  align-items: center;
  padding: 40px 40px 0px;
}
.badge {
  width: 76px;
  height: 42px;
  border: 2px solid #1b1b1b;
  border-radius: 20px;
  line-height: 42px;
  text-align: center;
  margin-right: 15px;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
