//
//  Debug.xcconfig
//  BanchanApp
//
//  Created by 송태환 on 2022/04/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-BanchanApp/Pods-BanchanApp.debug.xcconfig"

SERVER_URL = public.codesquad.kr
