// Greyscale
$black: #1b1b1b;
$grey-1: #3f3f3f;
$grey-2: #777777;
$grey-3: #bcbcbc;
$off-white: #f8f7f7;
$white: #fff;

// Primary
$green: #6dd028;
$orange: #ff8e14;

// Font Size
$display: 2.5rem;
$x-large: 1.5rem;
$large: 1.25rem;
$medium: 1rem;
$small: 0.875rem;
$x-small: 0.75rem;

// Font weight
$heavy: 900;
$bold: 700;
$medium: 500;
$regular: 400;
