.header-wrapper {
  position: relative;
  border-bottom: 1px solid grey;
  padding: 0 40px;
  height: 83px;
}

.header-wrapper.active {
  height: 160px;
}

.header {
  position: absolute;
  width: 1440px;
  display: flex;
  justify-content: space-between;
  top: 15px;
}

.header-title {
  font-size: 40px;
  font-weight: 900;
}

.header-nav {
  margin-top: 18px;
  margin-left: 15px;
}

li {
  margin-top: 10px;
  font-size: 14px;
}

.header-left {
  display: flex;
}

.header-right {
  position: absolute;
  top: 15px;
  right: 80px;
  display: flex;
  align-items: center;
}

.header-menu__extended {
  display: none;
}

.header-menu__extended.active {
  display: block;
}

.search-icon {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6667 14.6667H15.6133L15.24 14.3067C16.5918 12.7387 17.3348 10.7369 17.3333 8.66667C17.3333 6.95257 16.825 5.27695 15.8727 3.85173C14.9204 2.4265 13.5669 1.31567 11.9833 0.659715C10.3996 0.00375513 8.65706 -0.167874 6.97589 0.166531C5.29472 0.500937 3.75047 1.32636 2.53841 2.53841C1.32636 3.75047 0.500937 5.29472 0.166531 6.97589C-0.167874 8.65706 0.00375513 10.3996 0.659715 11.9833C1.31567 13.5669 2.4265 14.9204 3.85173 15.8727C5.27695 16.825 6.95257 17.3333 8.66667 17.3333C10.8133 17.3333 12.7867 16.5467 14.3067 15.24L14.6667 15.6133V16.6667L21.3333 23.32L23.32 21.3333L16.6667 14.6667ZM8.66667 14.6667C5.34667 14.6667 2.66667 11.9867 2.66667 8.66667C2.66667 5.34667 5.34667 2.66667 8.66667 2.66667C11.9867 2.66667 14.6667 5.34667 14.6667 8.66667C14.6667 11.9867 11.9867 14.6667 8.66667 14.6667Z' fill='%231B1B1B'/%3E%3C/svg%3E%0A");
}

.mypage-icon {
  width: 22px;
  height: 22px;
  margin: 0 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0002 11C13.9468 11 16.3335 8.61337 16.3335 5.66671C16.3335 2.72004 13.9468 0.333374 11.0002 0.333374C8.0535 0.333374 5.66683 2.72004 5.66683 5.66671C5.66683 8.61337 8.0535 11 11.0002 11ZM11.0002 13.6667C7.44016 13.6667 0.333496 15.4534 0.333496 19V21.6667H21.6668V19C21.6668 15.4534 14.5602 13.6667 11.0002 13.6667Z' fill='%231B1B1B'/%3E%3C/svg%3E ");
}

.cart-icon {
  width: 27px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='28' viewBox='0 0 27 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.3335 22C6.86683 22 5.68016 23.2 5.68016 24.6666C5.68016 26.1333 6.86683 27.3333 8.3335 27.3333C9.80016 27.3333 11.0002 26.1333 11.0002 24.6666C11.0002 23.2 9.80016 22 8.3335 22ZM0.333496 0.666626V3.33329H3.00016L7.80016 13.4533L6.00016 16.72C5.78683 17.0933 5.66683 17.5333 5.66683 18C5.66683 19.4666 6.86683 20.6666 8.3335 20.6666H24.3335V18H8.8935C8.70683 18 8.56016 17.8533 8.56016 17.6666L8.60016 17.5066L9.80016 15.3333H19.7335C20.7335 15.3333 21.6135 14.7866 22.0668 13.96L26.8402 5.30663C26.9502 5.10314 27.0055 4.8746 27.0008 4.64333C26.9961 4.41206 26.9314 4.18597 26.8132 3.98714C26.695 3.78832 26.5272 3.62356 26.3263 3.50895C26.1254 3.39435 25.8981 3.33383 25.6668 3.33329H5.94683L4.6935 0.666626H0.333496ZM21.6668 22C20.2002 22 19.0135 23.2 19.0135 24.6666C19.0135 26.1333 20.2002 27.3333 21.6668 27.3333C23.1335 27.3333 24.3335 26.1333 24.3335 24.6666C24.3335 23.2 23.1335 22 21.6668 22Z' fill='%231B1B1B'/%3E%3C/svg%3E ");
}
